body{
    text-align: center;
}

h3 .mobile{
    
    color:white;
    width:150px; 
    text-align:center;
}

#final{
    background-color: pink;
    color:white;
    bottom:0;
    float:sticky;
    text-align:center;
}